openapi: 3.2.0
info:
  title: Triumph Intelligence Connect Pricing API
  x-logo:
    url: https://static.greenscreens.ai/main-logo.svg
    backgroundColor: '#fafafa'
    altText: Triumph Intelligence
  description: '# Authentication


    Triumph Intelligence API offers OAuth2 Bearer JWT token based authentication.'
  version: 1.3.3
  termsOfService: https://triumph.io/terms-of-service/
  contact:
    name: API Support
    email: support@greenscreens.ai
    url: https://connect.intelligence.triumph.io
tags:
- name: Pricing
  description: 'Pricing service v1


    View separately


    Try it in swagger'
  x-displayName: Pricing
paths:
  /pricing/priority-rules:
    servers:
    - url: https://testapi.greenscreens.ai/v1
      description: Testing server (dev environment)
    - url: https://betaapi.greenscreens.ai/v1
      description: Beta server (pre-production)
    - url: https://api.greenscreens.ai/v1
      description: Production server (uses live data)
    post:
      tags:
      - Pricing
      summary: Create a priority rule
      operationId: pricingPriorityRulesCreate
      security:
      - Pricing_bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing_PricingPriorityRuleRequest'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_PriorityRule'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/priority-rules',\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {\n    name: 'Customer`s rule',\n    priority: 3,\n    active: false,\n    conditions: {\n      commodity: ['Apples'],\n      confidenceLevel: {from: 50, to: 250},\n      customers: ['LTR and Co', 'CocaCola', 'Walmart'],\n      lanes: [\n        {\n          origins: [\n            {type: 'ANYWHERE'},\n            {type: 'STATE', country: 'US', state: 'IL'},\n            {type: 'CITY', country: 'US', state: 'IL', city: 'Chicago'},\n            {type: 'MARKET', country: 'US', marketCode: 'NY_ALB'}\n          ],\n          destinations: [\n            {type: 'ANYWHERE'},\n            {type: 'STATE', country: 'US', state: 'IL'},\n            {type: 'CITY', country: 'US', state: 'IL', city: 'Chicago'},\n            {type: 'MARKET', country: 'US', marketCode: 'NY_ALB'}\n          ]\n        }\n      ],\n      lengthOfHaul: {from: 50, to: 250},\n      matchingTime: {from: 20, to: 30},\n      transitTime: {from: 20, to: 30},\n      transportTypes: ['VAN'],\n      users: ['string'],\n      weight: {from: 50, to: 250},\n      stopsCount: {from: 50, to: 250},\n      mileageDifference: {from: 50, to: 250},\n      volumeFrequency: {volume: 150.5, frequency: 'MONTHLY'},\n      loadingTypes: ['LIVE_LIVE'],\n      contractLength: {\n        from: {value: 60, unit: 'DAYS', inclusive: true},\n        to: {value: 60, unit: 'DAYS', inclusive: true}\n      },\n      dateCondition: {\n        mode: 'DAYS_OF_WEEK',\n        daysOfWeek: ['MONDAY', 'TUESDAY', 'WEDNESDAY'],\n        daysOfMonth: [1, 15, 28],\n        dateFrom: '2026-01-01',\n        dateTo: '2026-12-31'\n      }\n    },\n    effects: {\n      percentageAdjustment: {percentage: 15},\n      flatAdjustment: {amount: 15, currency: 'USD'},\n      setSellCost: {amount: 15, currency: 'USD'}\n    },\n    pricingTypeGroup: 'SPOT'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://testapi.greenscreens.ai/v1/pricing/priority-rules\"\n\npayload = {\n    \"name\": \"Customer`s rule\",\n    \"priority\": 3,\n    \"active\": False,\n    \"conditions\": {\n        \"commodity\": [\"Apples\"],\n        \"confidenceLevel\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"customers\": [\"LTR and Co\", \"CocaCola\", \"Walmart\"],\n        \"lanes\": [\n            {\n                \"origins\": [\n                    {\"type\": \"ANYWHERE\"},\n                    {\n                        \"type\": \"STATE\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\"\n                    },\n                    {\n                        \"type\": \"CITY\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\",\n                        \"city\": \"Chicago\"\n                    },\n                    {\n                        \"type\": \"MARKET\",\n                        \"country\": \"US\",\n                        \"marketCode\": \"NY_ALB\"\n                    }\n                ],\n                \"destinations\": [\n                    {\"type\": \"ANYWHERE\"},\n                    {\n                        \"type\": \"STATE\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\"\n                    },\n                    {\n                        \"type\": \"CITY\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\",\n                        \"city\": \"Chicago\"\n                    },\n                    {\n                        \"type\": \"MARKET\",\n                        \"country\": \"US\",\n                        \"marketCode\": \"NY_ALB\"\n                    }\n                ]\n            }\n        ],\n        \"lengthOfHaul\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"matchingTime\": {\n            \"from\": 20,\n            \"to\": 30\n        },\n        \"transitTime\": {\n            \"from\": 20,\n            \"to\": 30\n        },\n        \"transportTypes\": [\"VAN\"],\n        \"users\": [\"string\"],\n        \"weight\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"stopsCount\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"mileageDifference\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"volumeFrequency\": {\n            \"volume\": 150.5,\n            \"frequency\": \"MONTHLY\"\n        },\n        \"loadingTypes\": [\"LIVE_LIVE\"],\n        \"contractLength\": {\n            \"from\": {\n                \"value\": 60,\n                \"unit\": \"DAYS\",\n                \"inclusive\": True\n            },\n            \"to\": {\n                \"value\": 60,\n                \"unit\": \"DAYS\",\n                \"inclusive\": True\n            }\n        },\n        \"dateCondition\": {\n            \"mode\": \"DAYS_OF_WEEK\",\n            \"daysOfWeek\": [\"MONDAY\", \"TUESDAY\", \"WEDNESDAY\"],\n            \"daysOfMonth\": [1, 15, 28],\n            \"dateFrom\": \"2026-01-01\",\n            \"dateTo\": \"2026-12-31\"\n        }\n    },\n    \"effects\": {\n        \"percentageAdjustment\": {\"percentage\": 15},\n        \"flatAdjustment\": {\n            \"amount\": 15,\n            \"currency\": \"USD\"\n        },\n        \"setSellCost\": {\n            \"amount\": 15,\n            \"currency\": \"USD\"\n        }\n    },\n    \"pricingTypeGroup\": \"SPOT\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/priority-rules\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"name\\\":\\\"Customer`s rule\\\",\\\"priority\\\":3,\\\"active\\\":false,\\\"conditions\\\":{\\\"commodity\\\":[\\\"Apples\\\"],\\\"confidenceLevel\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"customers\\\":[\\\"LTR and Co\\\",\\\"CocaCola\\\",\\\"Walmart\\\"],\\\"lanes\\\":[{\\\"origins\\\":[{\\\"type\\\":\\\"ANYWHERE\\\"},{\\\"type\\\":\\\"STATE\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\"},{\\\"type\\\":\\\"CITY\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\",\\\"city\\\":\\\"Chicago\\\"},{\\\"type\\\":\\\"MARKET\\\",\\\"country\\\":\\\"US\\\",\\\"marketCode\\\":\\\"NY_ALB\\\"}],\\\"destinations\\\":[{\\\"type\\\":\\\"ANYWHERE\\\"},{\\\"type\\\":\\\"STATE\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\"},{\\\"type\\\":\\\"CITY\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\",\\\"city\\\":\\\"Chicago\\\"},{\\\"type\\\":\\\"MARKET\\\",\\\"country\\\":\\\"US\\\",\\\"marketCode\\\":\\\"NY_ALB\\\"}]}],\\\"lengthOfHaul\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"matchingTime\\\":{\\\"from\\\":20,\\\"to\\\":30},\\\"transitTime\\\":{\\\"from\\\":20,\\\"to\\\":30},\\\"transportTypes\\\":[\\\"VAN\\\"],\\\"users\\\":[\\\"string\\\"],\\\"weight\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"stopsCount\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"mileageDifference\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"volumeFrequency\\\":{\\\"volume\\\":150.5,\\\"frequency\\\":\\\"MONTHLY\\\"},\\\"loadingTypes\\\":[\\\"LIVE_LIVE\\\"],\\\"contractLength\\\":{\\\"from\\\":{\\\"value\\\":60,\\\"unit\\\":\\\"DAYS\\\",\\\"inclusive\\\":true},\\\"to\\\":{\\\"value\\\":60,\\\"unit\\\":\\\"DAYS\\\",\\\"inclusive\\\":true}},\\\"dateCondition\\\":{\\\"mode\\\":\\\"DAYS_OF_WEEK\\\",\\\"daysOfWeek\\\":[\\\"MONDAY\\\",\\\"TUESDAY\\\",\\\"WEDNESDAY\\\"],\\\"daysOfMonth\\\":[1,15,28],\\\"dateFrom\\\":\\\"2026-01-01\\\",\\\"dateTo\\\":\\\"2026-12-31\\\"}},\\\"effects\\\":{\\\"percentageAdjustment\\\":{\\\"percentage\\\":15},\\\"flatAdjustment\\\":{\\\"amount\\\":15,\\\"currency\\\":\\\"USD\\\"},\\\"setSellCost\\\":{\\\"amount\\\":15,\\\"currency\\\":\\\"USD\\\"}},\\\"pricingTypeGroup\\\":\\\"SPOT\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
    get:
      tags:
      - Pricing
      summary: Get priority rules
      operationId: pricingPriorityRulesGetAll
      security:
      - Pricing_bearerAuth: []
      parameters:
      - in: query
        name: pricingTypeGroup
        schema:
          type: string
          description: Pricing rule group filter. If not specified, all rules are returned.
          enum:
          - SPOT
          - CONTRACT
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_PricingPriorityRulesResponse'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_Error'
              examples:
                error403Example:
                  value:
                    code: access_forbidden
                    message: Access is forbidden
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/priority-rules',\n  qs: {pricingTypeGroup: 'SOME_STRING_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: 'import requests


          url = "https://testapi.greenscreens.ai/v1/pricing/priority-rules"


          querystring = {"pricingTypeGroup":"SOME_STRING_VALUE"}


          headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}


          response = requests.request("GET", url, headers=headers, params=querystring)


          print(response.text)'
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/priority-rules?pricingTypeGroup=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
  /pricing/priority-rules/{ruleId}:
    servers:
    - url: https://testapi.greenscreens.ai/v1
      description: Testing server (dev environment)
    - url: https://betaapi.greenscreens.ai/v1
      description: Beta server (pre-production)
    - url: https://api.greenscreens.ai/v1
      description: Production server (uses live data)
    get:
      tags:
      - Pricing
      summary: Get a priority rule
      operationId: pricingPriorityRuleGet
      security:
      - Pricing_bearerAuth: []
      parameters:
      - in: path
        name: ruleId
        description: Id of the priority rule to get
        schema:
          type: integer
          format: int64
          example: 12345
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_PriorityRule'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/priority-rules/%7BruleId%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: 'import requests


          url = "https://testapi.greenscreens.ai/v1/pricing/priority-rules/%7BruleId%7D"


          headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}


          response = requests.request("GET", url, headers=headers)


          print(response.text)'
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/priority-rules/%7BruleId%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
    put:
      tags:
      - Pricing
      summary: Update a priority rule
      operationId: pricingPriorityRuleUpdate
      security:
      - Pricing_bearerAuth: []
      parameters:
      - in: path
        name: ruleId
        description: Id of the priority rule to update
        required: true
        schema:
          type: integer
          format: int64
          example: 12345
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing_PricingPriorityRuleRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_PriorityRule'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/priority-rules/%7BruleId%7D',\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {\n    name: 'Customer`s rule',\n    priority: 3,\n    active: false,\n    conditions: {\n      commodity: ['Apples'],\n      confidenceLevel: {from: 50, to: 250},\n      customers: ['LTR and Co', 'CocaCola', 'Walmart'],\n      lanes: [\n        {\n          origins: [\n            {type: 'ANYWHERE'},\n            {type: 'STATE', country: 'US', state: 'IL'},\n            {type: 'CITY', country: 'US', state: 'IL', city: 'Chicago'},\n            {type: 'MARKET', country: 'US', marketCode: 'NY_ALB'}\n          ],\n          destinations: [\n            {type: 'ANYWHERE'},\n            {type: 'STATE', country: 'US', state: 'IL'},\n            {type: 'CITY', country: 'US', state: 'IL', city: 'Chicago'},\n            {type: 'MARKET', country: 'US', marketCode: 'NY_ALB'}\n          ]\n        }\n      ],\n      lengthOfHaul: {from: 50, to: 250},\n      matchingTime: {from: 20, to: 30},\n      transitTime: {from: 20, to: 30},\n      transportTypes: ['VAN'],\n      users: ['string'],\n      weight: {from: 50, to: 250},\n      stopsCount: {from: 50, to: 250},\n      mileageDifference: {from: 50, to: 250},\n      volumeFrequency: {volume: 150.5, frequency: 'MONTHLY'},\n      loadingTypes: ['LIVE_LIVE'],\n      contractLength: {\n        from: {value: 60, unit: 'DAYS', inclusive: true},\n        to: {value: 60, unit: 'DAYS', inclusive: true}\n      },\n      dateCondition: {\n        mode: 'DAYS_OF_WEEK',\n        daysOfWeek: ['MONDAY', 'TUESDAY', 'WEDNESDAY'],\n        daysOfMonth: [1, 15, 28],\n        dateFrom: '2026-01-01',\n        dateTo: '2026-12-31'\n      }\n    },\n    effects: {\n      percentageAdjustment: {percentage: 15},\n      flatAdjustment: {amount: 15, currency: 'USD'},\n      setSellCost: {amount: 15, currency: 'USD'}\n    },\n    pricingTypeGroup: 'SPOT'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://testapi.greenscreens.ai/v1/pricing/priority-rules/%7BruleId%7D\"\n\npayload = {\n    \"name\": \"Customer`s rule\",\n    \"priority\": 3,\n    \"active\": False,\n    \"conditions\": {\n        \"commodity\": [\"Apples\"],\n        \"confidenceLevel\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"customers\": [\"LTR and Co\", \"CocaCola\", \"Walmart\"],\n        \"lanes\": [\n            {\n                \"origins\": [\n                    {\"type\": \"ANYWHERE\"},\n                    {\n                        \"type\": \"STATE\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\"\n                    },\n                    {\n                        \"type\": \"CITY\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\",\n                        \"city\": \"Chicago\"\n                    },\n                    {\n                        \"type\": \"MARKET\",\n                        \"country\": \"US\",\n                        \"marketCode\": \"NY_ALB\"\n                    }\n                ],\n                \"destinations\": [\n                    {\"type\": \"ANYWHERE\"},\n                    {\n                        \"type\": \"STATE\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\"\n                    },\n                    {\n                        \"type\": \"CITY\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\",\n                        \"city\": \"Chicago\"\n                    },\n                    {\n                        \"type\": \"MARKET\",\n                        \"country\": \"US\",\n                        \"marketCode\": \"NY_ALB\"\n                    }\n                ]\n            }\n        ],\n        \"lengthOfHaul\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"matchingTime\": {\n            \"from\": 20,\n            \"to\": 30\n        },\n        \"transitTime\": {\n            \"from\": 20,\n            \"to\": 30\n        },\n        \"transportTypes\": [\"VAN\"],\n        \"users\": [\"string\"],\n        \"weight\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"stopsCount\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"mileageDifference\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"volumeFrequency\": {\n            \"volume\": 150.5,\n            \"frequency\": \"MONTHLY\"\n        },\n        \"loadingTypes\": [\"LIVE_LIVE\"],\n        \"contractLength\": {\n            \"from\": {\n                \"value\": 60,\n                \"unit\": \"DAYS\",\n                \"inclusive\": True\n            },\n            \"to\": {\n                \"value\": 60,\n                \"unit\": \"DAYS\",\n                \"inclusive\": True\n            }\n        },\n        \"dateCondition\": {\n            \"mode\": \"DAYS_OF_WEEK\",\n            \"daysOfWeek\": [\"MONDAY\", \"TUESDAY\", \"WEDNESDAY\"],\n            \"daysOfMonth\": [1, 15, 28],\n            \"dateFrom\": \"2026-01-01\",\n            \"dateTo\": \"2026-12-31\"\n        }\n    },\n    \"effects\": {\n        \"percentageAdjustment\": {\"percentage\": 15},\n        \"flatAdjustment\": {\n            \"amount\": 15,\n            \"currency\": \"USD\"\n        },\n        \"setSellCost\": {\n            \"amount\": 15,\n            \"currency\": \"USD\"\n        }\n    },\n    \"pricingTypeGroup\": \"SPOT\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"PUT\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/priority-rules/%7BruleId%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n  CURLOPT_POSTFIELDS => \"{\\\"name\\\":\\\"Customer`s rule\\\",\\\"priority\\\":3,\\\"active\\\":false,\\\"conditions\\\":{\\\"commodity\\\":[\\\"Apples\\\"],\\\"confidenceLevel\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"customers\\\":[\\\"LTR and Co\\\",\\\"CocaCola\\\",\\\"Walmart\\\"],\\\"lanes\\\":[{\\\"origins\\\":[{\\\"type\\\":\\\"ANYWHERE\\\"},{\\\"type\\\":\\\"STATE\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\"},{\\\"type\\\":\\\"CITY\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\",\\\"city\\\":\\\"Chicago\\\"},{\\\"type\\\":\\\"MARKET\\\",\\\"country\\\":\\\"US\\\",\\\"marketCode\\\":\\\"NY_ALB\\\"}],\\\"destinations\\\":[{\\\"type\\\":\\\"ANYWHERE\\\"},{\\\"type\\\":\\\"STATE\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\"},{\\\"type\\\":\\\"CITY\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\",\\\"city\\\":\\\"Chicago\\\"},{\\\"type\\\":\\\"MARKET\\\",\\\"country\\\":\\\"US\\\",\\\"marketCode\\\":\\\"NY_ALB\\\"}]}],\\\"lengthOfHaul\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"matchingTime\\\":{\\\"from\\\":20,\\\"to\\\":30},\\\"transitTime\\\":{\\\"from\\\":20,\\\"to\\\":30},\\\"transportTypes\\\":[\\\"VAN\\\"],\\\"users\\\":[\\\"string\\\"],\\\"weight\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"stopsCount\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"mileageDifference\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"volumeFrequency\\\":{\\\"volume\\\":150.5,\\\"frequency\\\":\\\"MONTHLY\\\"},\\\"loadingTypes\\\":[\\\"LIVE_LIVE\\\"],\\\"contractLength\\\":{\\\"from\\\":{\\\"value\\\":60,\\\"unit\\\":\\\"DAYS\\\",\\\"inclusive\\\":true},\\\"to\\\":{\\\"value\\\":60,\\\"unit\\\":\\\"DAYS\\\",\\\"inclusive\\\":true}},\\\"dateCondition\\\":{\\\"mode\\\":\\\"DAYS_OF_WEEK\\\",\\\"daysOfWeek\\\":[\\\"MONDAY\\\",\\\"TUESDAY\\\",\\\"WEDNESDAY\\\"],\\\"daysOfMonth\\\":[1,15,28],\\\"dateFrom\\\":\\\"2026-01-01\\\",\\\"dateTo\\\":\\\"2026-12-31\\\"}},\\\"effects\\\":{\\\"percentageAdjustment\\\":{\\\"percentage\\\":15},\\\"flatAdjustment\\\":{\\\"amount\\\":15,\\\"currency\\\":\\\"USD\\\"},\\\"setSellCost\\\":{\\\"amount\\\":15,\\\"currency\\\":\\\"USD\\\"}},\\\"pricingTypeGroup\\\":\\\"SPOT\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
    delete:
      tags:
      - Pricing
      summary: Delete a priority rule
      operationId: pricingPriorityRuleDelete
      security:
      - Pricing_bearerAuth: []
      parameters:
      - in: path
        name: ruleId
        description: Id of the priority rule to delete
        schema:
          type: integer
          format: int64
          example: 12345
        required: true
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/priority-rules/%7BruleId%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: 'import requests


          url = "https://testapi.greenscreens.ai/v1/pricing/priority-rules/%7BruleId%7D"


          headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}


          response = requests.request("DELETE", url, headers=headers)


          print(response.text)'
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/priority-rules/%7BruleId%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
  /pricing/combination-rules:
    servers:
    - url: https://testapi.greenscreens.ai/v1
      description: Testing server (dev environment)
    - url: https://betaapi.greenscreens.ai/v1
      description: Beta server (pre-production)
    - url: https://api.greenscreens.ai/v1
      description: Production server (uses live data)
    post:
      tags:
      - Pricing
      summary: Create a combination rule
      operationId: pricingCombinationRuleCreate
      security:
      - Pricing_bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing_PricingCombinationRuleRequest'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_CombinationRule'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/combination-rules',\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {\n    name: 'Customer`s rule',\n    active: false,\n    conditions: {\n      commodity: ['Apples'],\n      confidenceLevel: {from: 50, to: 250},\n      customers: ['LTR and Co', 'CocaCola', 'Walmart'],\n      lanes: [\n        {\n          origins: [\n            {type: 'ANYWHERE'},\n            {type: 'STATE', country: 'US', state: 'IL'},\n            {type: 'CITY', country: 'US', state: 'IL', city: 'Chicago'},\n            {type: 'MARKET', country: 'US', marketCode: 'NY_ALB'}\n          ],\n          destinations: [\n            {type: 'ANYWHERE'},\n            {type: 'STATE', country: 'US', state: 'IL'},\n            {type: 'CITY', country: 'US', state: 'IL', city: 'Chicago'},\n            {type: 'MARKET', country: 'US', marketCode: 'NY_ALB'}\n          ]\n        }\n      ],\n      lengthOfHaul: {from: 50, to: 250},\n      matchingTime: {from: 20, to: 30},\n      transitTime: {from: 20, to: 30},\n      transportTypes: ['VAN'],\n      users: ['string'],\n      weight: {from: 50, to: 250},\n      stopsCount: {from: 50, to: 250},\n      mileageDifference: {from: 50, to: 250},\n      volumeFrequency: {volume: 150.5, frequency: 'MONTHLY'},\n      loadingTypes: ['LIVE_LIVE'],\n      contractLength: {\n        from: {value: 60, unit: 'DAYS', inclusive: true},\n        to: {value: 60, unit: 'DAYS', inclusive: true}\n      },\n      dateCondition: {\n        mode: 'DAYS_OF_WEEK',\n        daysOfWeek: ['MONDAY', 'TUESDAY', 'WEDNESDAY'],\n        daysOfMonth: [1, 15, 28],\n        dateFrom: '2026-01-01',\n        dateTo: '2026-12-31'\n      }\n    },\n    effects: {\n      percentageAdjustment: {percentage: 15},\n      flatAdjustment: {amount: 15, currency: 'USD'}\n    },\n    pricingTypeGroup: 'SPOT'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://testapi.greenscreens.ai/v1/pricing/combination-rules\"\n\npayload = {\n    \"name\": \"Customer`s rule\",\n    \"active\": False,\n    \"conditions\": {\n        \"commodity\": [\"Apples\"],\n        \"confidenceLevel\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"customers\": [\"LTR and Co\", \"CocaCola\", \"Walmart\"],\n        \"lanes\": [\n            {\n                \"origins\": [\n                    {\"type\": \"ANYWHERE\"},\n                    {\n                        \"type\": \"STATE\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\"\n                    },\n                    {\n                        \"type\": \"CITY\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\",\n                        \"city\": \"Chicago\"\n                    },\n                    {\n                        \"type\": \"MARKET\",\n                        \"country\": \"US\",\n                        \"marketCode\": \"NY_ALB\"\n                    }\n                ],\n                \"destinations\": [\n                    {\"type\": \"ANYWHERE\"},\n                    {\n                        \"type\": \"STATE\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\"\n                    },\n                    {\n                        \"type\": \"CITY\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\",\n                        \"city\": \"Chicago\"\n                    },\n                    {\n                        \"type\": \"MARKET\",\n                        \"country\": \"US\",\n                        \"marketCode\": \"NY_ALB\"\n                    }\n                ]\n            }\n        ],\n        \"lengthOfHaul\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"matchingTime\": {\n            \"from\": 20,\n            \"to\": 30\n        },\n        \"transitTime\": {\n            \"from\": 20,\n            \"to\": 30\n        },\n        \"transportTypes\": [\"VAN\"],\n        \"users\": [\"string\"],\n        \"weight\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"stopsCount\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"mileageDifference\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"volumeFrequency\": {\n            \"volume\": 150.5,\n            \"frequency\": \"MONTHLY\"\n        },\n        \"loadingTypes\": [\"LIVE_LIVE\"],\n        \"contractLength\": {\n            \"from\": {\n                \"value\": 60,\n                \"unit\": \"DAYS\",\n                \"inclusive\": True\n            },\n            \"to\": {\n                \"value\": 60,\n                \"unit\": \"DAYS\",\n                \"inclusive\": True\n            }\n        },\n        \"dateCondition\": {\n            \"mode\": \"DAYS_OF_WEEK\",\n            \"daysOfWeek\": [\"MONDAY\", \"TUESDAY\", \"WEDNESDAY\"],\n            \"daysOfMonth\": [1, 15, 28],\n            \"dateFrom\": \"2026-01-01\",\n            \"dateTo\": \"2026-12-31\"\n        }\n    },\n    \"effects\": {\n        \"percentageAdjustment\": {\"percentage\": 15},\n        \"flatAdjustment\": {\n            \"amount\": 15,\n            \"currency\": \"USD\"\n        }\n    },\n    \"pricingTypeGroup\": \"SPOT\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/combination-rules\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"name\\\":\\\"Customer`s rule\\\",\\\"active\\\":false,\\\"conditions\\\":{\\\"commodity\\\":[\\\"Apples\\\"],\\\"confidenceLevel\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"customers\\\":[\\\"LTR and Co\\\",\\\"CocaCola\\\",\\\"Walmart\\\"],\\\"lanes\\\":[{\\\"origins\\\":[{\\\"type\\\":\\\"ANYWHERE\\\"},{\\\"type\\\":\\\"STATE\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\"},{\\\"type\\\":\\\"CITY\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\",\\\"city\\\":\\\"Chicago\\\"},{\\\"type\\\":\\\"MARKET\\\",\\\"country\\\":\\\"US\\\",\\\"marketCode\\\":\\\"NY_ALB\\\"}],\\\"destinations\\\":[{\\\"type\\\":\\\"ANYWHERE\\\"},{\\\"type\\\":\\\"STATE\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\"},{\\\"type\\\":\\\"CITY\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\",\\\"city\\\":\\\"Chicago\\\"},{\\\"type\\\":\\\"MARKET\\\",\\\"country\\\":\\\"US\\\",\\\"marketCode\\\":\\\"NY_ALB\\\"}]}],\\\"lengthOfHaul\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"matchingTime\\\":{\\\"from\\\":20,\\\"to\\\":30},\\\"transitTime\\\":{\\\"from\\\":20,\\\"to\\\":30},\\\"transportTypes\\\":[\\\"VAN\\\"],\\\"users\\\":[\\\"string\\\"],\\\"weight\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"stopsCount\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"mileageDifference\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"volumeFrequency\\\":{\\\"volume\\\":150.5,\\\"frequency\\\":\\\"MONTHLY\\\"},\\\"loadingTypes\\\":[\\\"LIVE_LIVE\\\"],\\\"contractLength\\\":{\\\"from\\\":{\\\"value\\\":60,\\\"unit\\\":\\\"DAYS\\\",\\\"inclusive\\\":true},\\\"to\\\":{\\\"value\\\":60,\\\"unit\\\":\\\"DAYS\\\",\\\"inclusive\\\":true}},\\\"dateCondition\\\":{\\\"mode\\\":\\\"DAYS_OF_WEEK\\\",\\\"daysOfWeek\\\":[\\\"MONDAY\\\",\\\"TUESDAY\\\",\\\"WEDNESDAY\\\"],\\\"daysOfMonth\\\":[1,15,28],\\\"dateFrom\\\":\\\"2026-01-01\\\",\\\"dateTo\\\":\\\"2026-12-31\\\"}},\\\"effects\\\":{\\\"percentageAdjustment\\\":{\\\"percentage\\\":15},\\\"flatAdjustment\\\":{\\\"amount\\\":15,\\\"currency\\\":\\\"USD\\\"}},\\\"pricingTypeGroup\\\":\\\"SPOT\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
    get:
      tags:
      - Pricing
      summary: Get combination rules
      operationId: pricingCombinationRulesGetAll
      security:
      - Pricing_bearerAuth: []
      parameters:
      - in: query
        name: pricingTypeGroup
        schema:
          type: string
          description: Pricing rule group filter. If not specified, all rules are returned.
          enum:
          - SPOT
          - CONTRACT
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_PricingCombinationRulesResponse'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/combination-rules',\n  qs: {pricingTypeGroup: 'SOME_STRING_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: 'import requests


          url = "https://testapi.greenscreens.ai/v1/pricing/combination-rules"


          querystring = {"pricingTypeGroup":"SOME_STRING_VALUE"}


          headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}


          response = requests.request("GET", url, headers=headers, params=querystring)


          print(response.text)'
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/combination-rules?pricingTypeGroup=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
  /pricing/combination-rules/{ruleId}:
    servers:
    - url: https://testapi.greenscreens.ai/v1
      description: Testing server (dev environment)
    - url: https://betaapi.greenscreens.ai/v1
      description: Beta server (pre-production)
    - url: https://api.greenscreens.ai/v1
      description: Production server (uses live data)
    get:
      tags:
      - Pricing
      summary: Get a combination rule
      operationId: pricingCombinationRuleGet
      security:
      - Pricing_bearerAuth: []
      parameters:
      - in: path
        name: ruleId
        description: Id of the combination rule to get
        schema:
          type: integer
          format: int64
          example: 12345
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_CombinationRule'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/combination-rules/%7BruleId%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: 'import requests


          url = "https://testapi.greenscreens.ai/v1/pricing/combination-rules/%7BruleId%7D"


          headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}


          response = requests.request("GET", url, headers=headers)


          print(response.text)'
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/combination-rules/%7BruleId%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
    put:
      tags:
      - Pricing
      summary: Update a combination rule
      operationId: pricingCombinationRuleUpdate
      security:
      - Pricing_bearerAuth: []
      parameters:
      - in: path
        name: ruleId
        description: Id of the combination rule to update
        required: true
        schema:
          type: integer
          format: int64
          example: 12345
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing_PricingCombinationRuleRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_CombinationRule'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/combination-rules/%7BruleId%7D',\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {\n    name: 'Customer`s rule',\n    active: false,\n    conditions: {\n      commodity: ['Apples'],\n      confidenceLevel: {from: 50, to: 250},\n      customers: ['LTR and Co', 'CocaCola', 'Walmart'],\n      lanes: [\n        {\n          origins: [\n            {type: 'ANYWHERE'},\n            {type: 'STATE', country: 'US', state: 'IL'},\n            {type: 'CITY', country: 'US', state: 'IL', city: 'Chicago'},\n            {type: 'MARKET', country: 'US', marketCode: 'NY_ALB'}\n          ],\n          destinations: [\n            {type: 'ANYWHERE'},\n            {type: 'STATE', country: 'US', state: 'IL'},\n            {type: 'CITY', country: 'US', state: 'IL', city: 'Chicago'},\n            {type: 'MARKET', country: 'US', marketCode: 'NY_ALB'}\n          ]\n        }\n      ],\n      lengthOfHaul: {from: 50, to: 250},\n      matchingTime: {from: 20, to: 30},\n      transitTime: {from: 20, to: 30},\n      transportTypes: ['VAN'],\n      users: ['string'],\n      weight: {from: 50, to: 250},\n      stopsCount: {from: 50, to: 250},\n      mileageDifference: {from: 50, to: 250},\n      volumeFrequency: {volume: 150.5, frequency: 'MONTHLY'},\n      loadingTypes: ['LIVE_LIVE'],\n      contractLength: {\n        from: {value: 60, unit: 'DAYS', inclusive: true},\n        to: {value: 60, unit: 'DAYS', inclusive: true}\n      },\n      dateCondition: {\n        mode: 'DAYS_OF_WEEK',\n        daysOfWeek: ['MONDAY', 'TUESDAY', 'WEDNESDAY'],\n        daysOfMonth: [1, 15, 28],\n        dateFrom: '2026-01-01',\n        dateTo: '2026-12-31'\n      }\n    },\n    effects: {\n      percentageAdjustment: {percentage: 15},\n      flatAdjustment: {amount: 15, currency: 'USD'}\n    },\n    pricingTypeGroup: 'SPOT'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://testapi.greenscreens.ai/v1/pricing/combination-rules/%7BruleId%7D\"\n\npayload = {\n    \"name\": \"Customer`s rule\",\n    \"active\": False,\n    \"conditions\": {\n        \"commodity\": [\"Apples\"],\n        \"confidenceLevel\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"customers\": [\"LTR and Co\", \"CocaCola\", \"Walmart\"],\n        \"lanes\": [\n            {\n                \"origins\": [\n                    {\"type\": \"ANYWHERE\"},\n                    {\n                        \"type\": \"STATE\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\"\n                    },\n                    {\n                        \"type\": \"CITY\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\",\n                        \"city\": \"Chicago\"\n                    },\n                    {\n                        \"type\": \"MARKET\",\n                        \"country\": \"US\",\n                        \"marketCode\": \"NY_ALB\"\n                    }\n                ],\n                \"destinations\": [\n                    {\"type\": \"ANYWHERE\"},\n                    {\n                        \"type\": \"STATE\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\"\n                    },\n                    {\n                        \"type\": \"CITY\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\",\n                        \"city\": \"Chicago\"\n                    },\n                    {\n                        \"type\": \"MARKET\",\n                        \"country\": \"US\",\n                        \"marketCode\": \"NY_ALB\"\n                    }\n                ]\n            }\n        ],\n        \"lengthOfHaul\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"matchingTime\": {\n            \"from\": 20,\n            \"to\": 30\n        },\n        \"transitTime\": {\n            \"from\": 20,\n            \"to\": 30\n        },\n        \"transportTypes\": [\"VAN\"],\n        \"users\": [\"string\"],\n        \"weight\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"stopsCount\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"mileageDifference\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"volumeFrequency\": {\n            \"volume\": 150.5,\n            \"frequency\": \"MONTHLY\"\n        },\n        \"loadingTypes\": [\"LIVE_LIVE\"],\n        \"contractLength\": {\n            \"from\": {\n                \"value\": 60,\n                \"unit\": \"DAYS\",\n                \"inclusive\": True\n            },\n            \"to\": {\n                \"value\": 60,\n                \"unit\": \"DAYS\",\n                \"inclusive\": True\n            }\n        },\n        \"dateCondition\": {\n            \"mode\": \"DAYS_OF_WEEK\",\n            \"daysOfWeek\": [\"MONDAY\", \"TUESDAY\", \"WEDNESDAY\"],\n            \"daysOfMonth\": [1, 15, 28],\n            \"dateFrom\": \"2026-01-01\",\n            \"dateTo\": \"2026-12-31\"\n        }\n    },\n    \"effects\": {\n        \"percentageAdjustment\": {\"percentage\": 15},\n        \"flatAdjustment\": {\n            \"amount\": 15,\n            \"currency\": \"USD\"\n        }\n    },\n    \"pricingTypeGroup\": \"SPOT\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"PUT\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/combination-rules/%7BruleId%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n  CURLOPT_POSTFIELDS => \"{\\\"name\\\":\\\"Customer`s rule\\\",\\\"active\\\":false,\\\"conditions\\\":{\\\"commodity\\\":[\\\"Apples\\\"],\\\"confidenceLevel\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"customers\\\":[\\\"LTR and Co\\\",\\\"CocaCola\\\",\\\"Walmart\\\"],\\\"lanes\\\":[{\\\"origins\\\":[{\\\"type\\\":\\\"ANYWHERE\\\"},{\\\"type\\\":\\\"STATE\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\"},{\\\"type\\\":\\\"CITY\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\",\\\"city\\\":\\\"Chicago\\\"},{\\\"type\\\":\\\"MARKET\\\",\\\"country\\\":\\\"US\\\",\\\"marketCode\\\":\\\"NY_ALB\\\"}],\\\"destinations\\\":[{\\\"type\\\":\\\"ANYWHERE\\\"},{\\\"type\\\":\\\"STATE\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\"},{\\\"type\\\":\\\"CITY\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\",\\\"city\\\":\\\"Chicago\\\"},{\\\"type\\\":\\\"MARKET\\\",\\\"country\\\":\\\"US\\\",\\\"marketCode\\\":\\\"NY_ALB\\\"}]}],\\\"lengthOfHaul\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"matchingTime\\\":{\\\"from\\\":20,\\\"to\\\":30},\\\"transitTime\\\":{\\\"from\\\":20,\\\"to\\\":30},\\\"transportTypes\\\":[\\\"VAN\\\"],\\\"users\\\":[\\\"string\\\"],\\\"weight\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"stopsCount\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"mileageDifference\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"volumeFrequency\\\":{\\\"volume\\\":150.5,\\\"frequency\\\":\\\"MONTHLY\\\"},\\\"loadingTypes\\\":[\\\"LIVE_LIVE\\\"],\\\"contractLength\\\":{\\\"from\\\":{\\\"value\\\":60,\\\"unit\\\":\\\"DAYS\\\",\\\"inclusive\\\":true},\\\"to\\\":{\\\"value\\\":60,\\\"unit\\\":\\\"DAYS\\\",\\\"inclusive\\\":true}},\\\"dateCondition\\\":{\\\"mode\\\":\\\"DAYS_OF_WEEK\\\",\\\"daysOfWeek\\\":[\\\"MONDAY\\\",\\\"TUESDAY\\\",\\\"WEDNESDAY\\\"],\\\"daysOfMonth\\\":[1,15,28],\\\"dateFrom\\\":\\\"2026-01-01\\\",\\\"dateTo\\\":\\\"2026-12-31\\\"}},\\\"effects\\\":{\\\"percentageAdjustment\\\":{\\\"percentage\\\":15},\\\"flatAdjustment\\\":{\\\"amount\\\":15,\\\"currency\\\":\\\"USD\\\"}},\\\"pricingTypeGroup\\\":\\\"SPOT\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
    delete:
      tags:
      - Pricing
      summary: Delete a combination rule
      operationId: pricingCombinationRuleDelete
      security:
      - Pricing_bearerAuth: []
      parameters:
      - in: path
        name: ruleId
        description: Id of the combination rule to delete
        schema:
          type: integer
          format: int64
          example: 12345
        required: true
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/combination-rules/%7BruleId%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: 'import requests


          url = "https://testapi.greenscreens.ai/v1/pricing/combination-rules/%7BruleId%7D"


          headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}


          response = requests.request("DELETE", url, headers=headers)


          print(response.text)'
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/combination-rules/%7BruleId%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
  /pricing/threshold-rules:
    servers:
    - url: https://testapi.greenscreens.ai/v1
      description: Testing server (dev environment)
    - url: https://betaapi.greenscreens.ai/v1
      description: Beta server (pre-production)
    - url: https://api.greenscreens.ai/v1
      description: Production server (uses live data)
    post:
      tags:
      - Pricing
      summary: Create a threshold rule
      description: Create a min/max threshold rule
      operationId: pricingThresholdRulesCreate
      security:
      - Pricing_bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing_PricingThresholdRuleRequest'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_ThresholdRule'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/threshold-rules',\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {\n    name: 'Customer min rate',\n    type: 'PRIORITY',\n    active: false,\n    threshold: 1500,\n    unit: 'DOLLARS',\n    currency: 'USD',\n    conditions: {\n      commodity: ['Apples'],\n      confidenceLevel: {from: 50, to: 250},\n      customers: ['LTR and Co', 'CocaCola', 'Walmart'],\n      lanes: [\n        {\n          origins: [\n            {type: 'ANYWHERE'},\n            {type: 'STATE', country: 'US', state: 'IL'},\n            {type: 'CITY', country: 'US', state: 'IL', city: 'Chicago'},\n            {type: 'MARKET', country: 'US', marketCode: 'NY_ALB'}\n          ],\n          destinations: [\n            {type: 'ANYWHERE'},\n            {type: 'STATE', country: 'US', state: 'IL'},\n            {type: 'CITY', country: 'US', state: 'IL', city: 'Chicago'},\n            {type: 'MARKET', country: 'US', marketCode: 'NY_ALB'}\n          ]\n        }\n      ],\n      lengthOfHaul: {from: 50, to: 250},\n      matchingTime: {from: 20, to: 30},\n      transitTime: {from: 20, to: 30},\n      transportTypes: ['VAN'],\n      users: ['string'],\n      weight: {from: 50, to: 250},\n      stopsCount: {from: 50, to: 250},\n      mileageDifference: {from: 50, to: 250},\n      volumeFrequency: {volume: 150.5, frequency: 'MONTHLY'},\n      loadingTypes: ['LIVE_LIVE'],\n      contractLength: {\n        from: {value: 60, unit: 'DAYS', inclusive: true},\n        to: {value: 60, unit: 'DAYS', inclusive: true}\n      },\n      dateCondition: {\n        mode: 'DAYS_OF_WEEK',\n        daysOfWeek: ['MONDAY', 'TUESDAY', 'WEDNESDAY'],\n        daysOfMonth: [1, 15, 28],\n        dateFrom: '2026-01-01',\n        dateTo: '2026-12-31'\n      }\n    },\n    pricingTypeGroup: 'SPOT'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://testapi.greenscreens.ai/v1/pricing/threshold-rules\"\n\npayload = {\n    \"name\": \"Customer min rate\",\n    \"type\": \"PRIORITY\",\n    \"active\": False,\n    \"threshold\": 1500,\n    \"unit\": \"DOLLARS\",\n    \"currency\": \"USD\",\n    \"conditions\": {\n        \"commodity\": [\"Apples\"],\n        \"confidenceLevel\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"customers\": [\"LTR and Co\", \"CocaCola\", \"Walmart\"],\n        \"lanes\": [\n            {\n                \"origins\": [\n                    {\"type\": \"ANYWHERE\"},\n                    {\n                        \"type\": \"STATE\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\"\n                    },\n                    {\n                        \"type\": \"CITY\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\",\n                        \"city\": \"Chicago\"\n                    },\n                    {\n                        \"type\": \"MARKET\",\n                        \"country\": \"US\",\n                        \"marketCode\": \"NY_ALB\"\n                    }\n                ],\n                \"destinations\": [\n                    {\"type\": \"ANYWHERE\"},\n                    {\n                        \"type\": \"STATE\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\"\n                    },\n                    {\n                        \"type\": \"CITY\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\",\n                        \"city\": \"Chicago\"\n                    },\n                    {\n                        \"type\": \"MARKET\",\n                        \"country\": \"US\",\n                        \"marketCode\": \"NY_ALB\"\n                    }\n                ]\n            }\n        ],\n        \"lengthOfHaul\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"matchingTime\": {\n            \"from\": 20,\n            \"to\": 30\n        },\n        \"transitTime\": {\n            \"from\": 20,\n            \"to\": 30\n        },\n        \"transportTypes\": [\"VAN\"],\n        \"users\": [\"string\"],\n        \"weight\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"stopsCount\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"mileageDifference\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"volumeFrequency\": {\n            \"volume\": 150.5,\n            \"frequency\": \"MONTHLY\"\n        },\n        \"loadingTypes\": [\"LIVE_LIVE\"],\n        \"contractLength\": {\n            \"from\": {\n                \"value\": 60,\n                \"unit\": \"DAYS\",\n                \"inclusive\": True\n            },\n            \"to\": {\n                \"value\": 60,\n                \"unit\": \"DAYS\",\n                \"inclusive\": True\n            }\n        },\n        \"dateCondition\": {\n            \"mode\": \"DAYS_OF_WEEK\",\n            \"daysOfWeek\": [\"MONDAY\", \"TUESDAY\", \"WEDNESDAY\"],\n            \"daysOfMonth\": [1, 15, 28],\n            \"dateFrom\": \"2026-01-01\",\n            \"dateTo\": \"2026-12-31\"\n        }\n    },\n    \"pricingTypeGroup\": \"SPOT\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/threshold-rules\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"name\\\":\\\"Customer min rate\\\",\\\"type\\\":\\\"PRIORITY\\\",\\\"active\\\":false,\\\"threshold\\\":1500,\\\"unit\\\":\\\"DOLLARS\\\",\\\"currency\\\":\\\"USD\\\",\\\"conditions\\\":{\\\"commodity\\\":[\\\"Apples\\\"],\\\"confidenceLevel\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"customers\\\":[\\\"LTR and Co\\\",\\\"CocaCola\\\",\\\"Walmart\\\"],\\\"lanes\\\":[{\\\"origins\\\":[{\\\"type\\\":\\\"ANYWHERE\\\"},{\\\"type\\\":\\\"STATE\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\"},{\\\"type\\\":\\\"CITY\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\",\\\"city\\\":\\\"Chicago\\\"},{\\\"type\\\":\\\"MARKET\\\",\\\"country\\\":\\\"US\\\",\\\"marketCode\\\":\\\"NY_ALB\\\"}],\\\"destinations\\\":[{\\\"type\\\":\\\"ANYWHERE\\\"},{\\\"type\\\":\\\"STATE\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\"},{\\\"type\\\":\\\"CITY\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\",\\\"city\\\":\\\"Chicago\\\"},{\\\"type\\\":\\\"MARKET\\\",\\\"country\\\":\\\"US\\\",\\\"marketCode\\\":\\\"NY_ALB\\\"}]}],\\\"lengthOfHaul\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"matchingTime\\\":{\\\"from\\\":20,\\\"to\\\":30},\\\"transitTime\\\":{\\\"from\\\":20,\\\"to\\\":30},\\\"transportTypes\\\":[\\\"VAN\\\"],\\\"users\\\":[\\\"string\\\"],\\\"weight\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"stopsCount\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"mileageDifference\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"volumeFrequency\\\":{\\\"volume\\\":150.5,\\\"frequency\\\":\\\"MONTHLY\\\"},\\\"loadingTypes\\\":[\\\"LIVE_LIVE\\\"],\\\"contractLength\\\":{\\\"from\\\":{\\\"value\\\":60,\\\"unit\\\":\\\"DAYS\\\",\\\"inclusive\\\":true},\\\"to\\\":{\\\"value\\\":60,\\\"unit\\\":\\\"DAYS\\\",\\\"inclusive\\\":true}},\\\"dateCondition\\\":{\\\"mode\\\":\\\"DAYS_OF_WEEK\\\",\\\"daysOfWeek\\\":[\\\"MONDAY\\\",\\\"TUESDAY\\\",\\\"WEDNESDAY\\\"],\\\"daysOfMonth\\\":[1,15,28],\\\"dateFrom\\\":\\\"2026-01-01\\\",\\\"dateTo\\\":\\\"2026-12-31\\\"}},\\\"pricingTypeGroup\\\":\\\"SPOT\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
    get:
      tags:
      - Pricing
      summary: Get threshold rules
      description: Get min/max threshold rules
      operationId: pricingThresholdRulesGetAll
      security:
      - Pricing_bearerAuth: []
      parameters:
      - in: query
        name: pricingTypeGroup
        schema:
          type: string
          description: Pricing rule group filter. If not specified, all rules are returned.
          enum:
          - SPOT
          - CONTRACT
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_PricingThresholdRulesResponse'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/threshold-rules',\n  qs: {pricingTypeGroup: 'SOME_STRING_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: 'import requests


          url = "https://testapi.greenscreens.ai/v1/pricing/threshold-rules"


          querystring = {"pricingTypeGroup":"SOME_STRING_VALUE"}


          headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}


          response = requests.request("GET", url, headers=headers, params=querystring)


          print(response.text)'
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/threshold-rules?pricingTypeGroup=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
  /pricing/threshold-rules/{ruleId}:
    servers:
    - url: https://testapi.greenscreens.ai/v1
      description: Testing server (dev environment)
    - url: https://betaapi.greenscreens.ai/v1
      description: Beta server (pre-production)
    - url: https://api.greenscreens.ai/v1
      description: Production server (uses live data)
    get:
      tags:
      - Pricing
      summary: Get a threshold rule
      description: Get a min/max threshold rule
      operationId: pricingThresholdRuleGet
      security:
      - Pricing_bearerAuth: []
      parameters:
      - in: path
        name: ruleId
        description: Id of the threshold rule to get
        schema:
          type: integer
          format: int64
          example: 12345
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_ThresholdRule'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/threshold-rules/%7BruleId%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: 'import requests


          url = "https://testapi.greenscreens.ai/v1/pricing/threshold-rules/%7BruleId%7D"


          headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}


          response = requests.request("GET", url, headers=headers)


          print(response.text)'
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/threshold-rules/%7BruleId%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
    put:
      tags:
      - Pricing
      summary: Update a threshold rule
      description: Update a min/max threshold rule
      operationId: pricingThresholdRuleUpdate
      security:
      - Pricing_bearerAuth: []
      parameters:
      - in: path
        name: ruleId
        description: Id of the threshold rule to update
        required: true
        schema:
          type: integer
          format: int64
          example: 12345
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing_PricingThresholdRuleRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_ThresholdRule'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/threshold-rules/%7BruleId%7D',\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {\n    name: 'Customer min rate',\n    type: 'PRIORITY',\n    active: false,\n    threshold: 1500,\n    unit: 'DOLLARS',\n    currency: 'USD',\n    conditions: {\n      commodity: ['Apples'],\n      confidenceLevel: {from: 50, to: 250},\n      customers: ['LTR and Co', 'CocaCola', 'Walmart'],\n      lanes: [\n        {\n          origins: [\n            {type: 'ANYWHERE'},\n            {type: 'STATE', country: 'US', state: 'IL'},\n            {type: 'CITY', country: 'US', state: 'IL', city: 'Chicago'},\n            {type: 'MARKET', country: 'US', marketCode: 'NY_ALB'}\n          ],\n          destinations: [\n            {type: 'ANYWHERE'},\n            {type: 'STATE', country: 'US', state: 'IL'},\n            {type: 'CITY', country: 'US', state: 'IL', city: 'Chicago'},\n            {type: 'MARKET', country: 'US', marketCode: 'NY_ALB'}\n          ]\n        }\n      ],\n      lengthOfHaul: {from: 50, to: 250},\n      matchingTime: {from: 20, to: 30},\n      transitTime: {from: 20, to: 30},\n      transportTypes: ['VAN'],\n      users: ['string'],\n      weight: {from: 50, to: 250},\n      stopsCount: {from: 50, to: 250},\n      mileageDifference: {from: 50, to: 250},\n      volumeFrequency: {volume: 150.5, frequency: 'MONTHLY'},\n      loadingTypes: ['LIVE_LIVE'],\n      contractLength: {\n        from: {value: 60, unit: 'DAYS', inclusive: true},\n        to: {value: 60, unit: 'DAYS', inclusive: true}\n      },\n      dateCondition: {\n        mode: 'DAYS_OF_WEEK',\n        daysOfWeek: ['MONDAY', 'TUESDAY', 'WEDNESDAY'],\n        daysOfMonth: [1, 15, 28],\n        dateFrom: '2026-01-01',\n        dateTo: '2026-12-31'\n      }\n    },\n    pricingTypeGroup: 'SPOT'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://testapi.greenscreens.ai/v1/pricing/threshold-rules/%7BruleId%7D\"\n\npayload = {\n    \"name\": \"Customer min rate\",\n    \"type\": \"PRIORITY\",\n    \"active\": False,\n    \"threshold\": 1500,\n    \"unit\": \"DOLLARS\",\n    \"currency\": \"USD\",\n    \"conditions\": {\n        \"commodity\": [\"Apples\"],\n        \"confidenceLevel\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"customers\": [\"LTR and Co\", \"CocaCola\", \"Walmart\"],\n        \"lanes\": [\n            {\n                \"origins\": [\n                    {\"type\": \"ANYWHERE\"},\n                    {\n                        \"type\": \"STATE\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\"\n                    },\n                    {\n                        \"type\": \"CITY\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\",\n                        \"city\": \"Chicago\"\n                    },\n                    {\n                        \"type\": \"MARKET\",\n                        \"country\": \"US\",\n                        \"marketCode\": \"NY_ALB\"\n                    }\n                ],\n                \"destinations\": [\n                    {\"type\": \"ANYWHERE\"},\n                    {\n                        \"type\": \"STATE\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\"\n                    },\n                    {\n                        \"type\": \"CITY\",\n                        \"country\": \"US\",\n                        \"state\": \"IL\",\n                        \"city\": \"Chicago\"\n                    },\n                    {\n                        \"type\": \"MARKET\",\n                        \"country\": \"US\",\n                        \"marketCode\": \"NY_ALB\"\n                    }\n                ]\n            }\n        ],\n        \"lengthOfHaul\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"matchingTime\": {\n            \"from\": 20,\n            \"to\": 30\n        },\n        \"transitTime\": {\n            \"from\": 20,\n            \"to\": 30\n        },\n        \"transportTypes\": [\"VAN\"],\n        \"users\": [\"string\"],\n        \"weight\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"stopsCount\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"mileageDifference\": {\n            \"from\": 50,\n            \"to\": 250\n        },\n        \"volumeFrequency\": {\n            \"volume\": 150.5,\n            \"frequency\": \"MONTHLY\"\n        },\n        \"loadingTypes\": [\"LIVE_LIVE\"],\n        \"contractLength\": {\n            \"from\": {\n                \"value\": 60,\n                \"unit\": \"DAYS\",\n                \"inclusive\": True\n            },\n            \"to\": {\n                \"value\": 60,\n                \"unit\": \"DAYS\",\n                \"inclusive\": True\n            }\n        },\n        \"dateCondition\": {\n            \"mode\": \"DAYS_OF_WEEK\",\n            \"daysOfWeek\": [\"MONDAY\", \"TUESDAY\", \"WEDNESDAY\"],\n            \"daysOfMonth\": [1, 15, 28],\n            \"dateFrom\": \"2026-01-01\",\n            \"dateTo\": \"2026-12-31\"\n        }\n    },\n    \"pricingTypeGroup\": \"SPOT\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"PUT\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/threshold-rules/%7BruleId%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n  CURLOPT_POSTFIELDS => \"{\\\"name\\\":\\\"Customer min rate\\\",\\\"type\\\":\\\"PRIORITY\\\",\\\"active\\\":false,\\\"threshold\\\":1500,\\\"unit\\\":\\\"DOLLARS\\\",\\\"currency\\\":\\\"USD\\\",\\\"conditions\\\":{\\\"commodity\\\":[\\\"Apples\\\"],\\\"confidenceLevel\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"customers\\\":[\\\"LTR and Co\\\",\\\"CocaCola\\\",\\\"Walmart\\\"],\\\"lanes\\\":[{\\\"origins\\\":[{\\\"type\\\":\\\"ANYWHERE\\\"},{\\\"type\\\":\\\"STATE\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\"},{\\\"type\\\":\\\"CITY\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\",\\\"city\\\":\\\"Chicago\\\"},{\\\"type\\\":\\\"MARKET\\\",\\\"country\\\":\\\"US\\\",\\\"marketCode\\\":\\\"NY_ALB\\\"}],\\\"destinations\\\":[{\\\"type\\\":\\\"ANYWHERE\\\"},{\\\"type\\\":\\\"STATE\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\"},{\\\"type\\\":\\\"CITY\\\",\\\"country\\\":\\\"US\\\",\\\"state\\\":\\\"IL\\\",\\\"city\\\":\\\"Chicago\\\"},{\\\"type\\\":\\\"MARKET\\\",\\\"country\\\":\\\"US\\\",\\\"marketCode\\\":\\\"NY_ALB\\\"}]}],\\\"lengthOfHaul\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"matchingTime\\\":{\\\"from\\\":20,\\\"to\\\":30},\\\"transitTime\\\":{\\\"from\\\":20,\\\"to\\\":30},\\\"transportTypes\\\":[\\\"VAN\\\"],\\\"users\\\":[\\\"string\\\"],\\\"weight\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"stopsCount\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"mileageDifference\\\":{\\\"from\\\":50,\\\"to\\\":250},\\\"volumeFrequency\\\":{\\\"volume\\\":150.5,\\\"frequency\\\":\\\"MONTHLY\\\"},\\\"loadingTypes\\\":[\\\"LIVE_LIVE\\\"],\\\"contractLength\\\":{\\\"from\\\":{\\\"value\\\":60,\\\"unit\\\":\\\"DAYS\\\",\\\"inclusive\\\":true},\\\"to\\\":{\\\"value\\\":60,\\\"unit\\\":\\\"DAYS\\\",\\\"inclusive\\\":true}},\\\"dateCondition\\\":{\\\"mode\\\":\\\"DAYS_OF_WEEK\\\",\\\"daysOfWeek\\\":[\\\"MONDAY\\\",\\\"TUESDAY\\\",\\\"WEDNESDAY\\\"],\\\"daysOfMonth\\\":[1,15,28],\\\"dateFrom\\\":\\\"2026-01-01\\\",\\\"dateTo\\\":\\\"2026-12-31\\\"}},\\\"pricingTypeGroup\\\":\\\"SPOT\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
    delete:
      tags:
      - Pricing
      summary: Delete a threshold rule
      description: Delete a min/max threshold rule
      operationId: pricingThresholdRuleDelete
      security:
      - Pricing_bearerAuth: []
      parameters:
      - in: path
        name: ruleId
        description: Id of the threshold rule to delete
        schema:
          type: integer
          format: int64
          example: 12345
        required: true
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '403':
          $ref: '#/paths/~1pricing~1priority-rules/get/responses/403'
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/threshold-rules/%7BruleId%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: 'import requests


          url = "https://testapi.greenscreens.ai/v1/pricing/threshold-rules/%7BruleId%7D"


          headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}


          response = requests.request("DELETE", url, headers=headers)


          print(response.text)'
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/threshold-rules/%7BruleId%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
  /pricing/tpl-pricing:
    servers:
    - url: https://testapi.greenscreens.ai/v1
      description: Testing server (dev environment)
    - url: https://betaapi.greenscreens.ai/v1
      description: Beta server (pre-production)
    - url: https://api.greenscreens.ai/v1
      description: Production server (uses live data)
    post:
      tags:
      - Pricing
      summary: Calculate pricing, based on TPL data
      description: 'Returns all pricing suggestions: statistical, rule related, etc.

        intended for TPL pricing and calculated using TPL data.


        Most of the fields in the request and response are optional.


        Response fields are related to request fields e.g. if you do not provide

        the customer name in the request, there will be no customer related

        pricing data in the response, and the pricing rules that use customer name predicates

        will not be found.


        To get the most possible data in the response, provide all the data you can

        in the request. However if for example you only need customer related pricing data,

        you can provide only the customer name in the request.


        Also note that if providing addresses,

        origin and destination country is required.

        The state code can be provided without city and zip,

        and the city name can be provided without a zip code,

        and the zip code can be provided without a city or a state.

        This will also affect what kind of rules are found and what statistical data

        is calculated and returned.


        Parameter notes:

        * __region__ - defaults to ZIP if not provided'
      operationId: pricingTplPricing
      security:
      - Pricing_bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing_PricingRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_PricingResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_Error'
              examples:
                error400Example:
                  value:
                    code: missing_required_parameter
                    message: Your request was missing a {par_name} parameter
        '401':
          description: Unauthenticated
        '404':
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_Error'
              examples:
                error404Example:
                  value:
                    code: item_not_found
                    message: Item not found
        '422':
          description: Unprocessable Entity with multiple errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_Error422UnprocessableEntityMulti'
              examples:
                error422MultiExample:
                  value:
                    code: request_validation
                    message: You have one or more errors in request structure
                    errors:
                    - field: carrierName
                      message: field contains wrong data type (int), should be string
                      value: '22'
                    - field: shipperId
                      message: 'shipperId: must not be null'
                      value: null
                    - field: loadSource.loadId
                      message: 'loadId: must not be null'
                      value: null
        '424':
          description: Failed Dependency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_Error'
              examples:
                error424Example:
                  value:
                    code: distance_calculation_error
                    message: 'Unable to calculate distance between zips {key}, reason:  {exc}'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_Error'
              examples:
                error429TooManyRequests:
                  value:
                    code: too_many_requests
                    message: Request limit exceeded
        '500':
          description: Unhandled server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_Error'
              examples:
                error500Example:
                  value:
                    code: internal_error
                    message: Internal server error
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/tpl-pricing',\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {\n    transportType: 'VAN',\n    stops: [\n      {\n        order: 0,\n        address: {country: 'US', city: 'Red Bluff', state: 'CA', zip: '96080'}\n      },\n      {order: 1, address: {country: 'US', city: 'Redding', state: 'CA', zip: '96002'}}\n    ],\n    region: 'ZIP',\n    customerName: 'Test Customer',\n    pickupDate: '2020-01-13T16:00:00Z',\n    deliveryDate: '2020-01-13T16:00:00Z',\n    weight: 10000,\n    commodity: 'Apples',\n    targetBuyCost: 1000,\n    confidenceLevel: 65,\n    currency: 'USD',\n    pricingTypeGroup: 'SPOT',\n    loadingType: 'LIVE_LIVE',\n    volume: 200.5,\n    volumeFrequency: 'MONTHLY',\n    contractLengthDays: 90\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://testapi.greenscreens.ai/v1/pricing/tpl-pricing\"\n\npayload = {\n    \"transportType\": \"VAN\",\n    \"stops\": [\n        {\n            \"order\": 0,\n            \"address\": {\n                \"country\": \"US\",\n                \"city\": \"Red Bluff\",\n                \"state\": \"CA\",\n                \"zip\": \"96080\"\n            }\n        },\n        {\n            \"order\": 1,\n            \"address\": {\n                \"country\": \"US\",\n                \"city\": \"Redding\",\n                \"state\": \"CA\",\n                \"zip\": \"96002\"\n            }\n        }\n    ],\n    \"region\": \"ZIP\",\n    \"customerName\": \"Test Customer\",\n    \"pickupDate\": \"2020-01-13T16:00:00Z\",\n    \"deliveryDate\": \"2020-01-13T16:00:00Z\",\n    \"weight\": 10000,\n    \"commodity\": \"Apples\",\n    \"targetBuyCost\": 1000,\n    \"confidenceLevel\": 65,\n    \"currency\": \"USD\",\n    \"pricingTypeGroup\": \"SPOT\",\n    \"loadingType\": \"LIVE_LIVE\",\n    \"volume\": 200.5,\n    \"volumeFrequency\": \"MONTHLY\",\n    \"contractLengthDays\": 90\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://testapi.greenscreens.ai/v1/pricing/tpl-pricing\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"transportType\\\":\\\"VAN\\\",\\\"stops\\\":[{\\\"order\\\":0,\\\"address\\\":{\\\"country\\\":\\\"US\\\",\\\"city\\\":\\\"Red Bluff\\\",\\\"state\\\":\\\"CA\\\",\\\"zip\\\":\\\"96080\\\"}},{\\\"order\\\":1,\\\"address\\\":{\\\"country\\\":\\\"US\\\",\\\"city\\\":\\\"Redding\\\",\\\"state\\\":\\\"CA\\\",\\\"zip\\\":\\\"96002\\\"}}],\\\"region\\\":\\\"ZIP\\\",\\\"customerName\\\":\\\"Test Customer\\\",\\\"pickupDate\\\":\\\"2020-01-13T16:00:00Z\\\",\\\"deliveryDate\\\":\\\"2020-01-13T16:00:00Z\\\",\\\"weight\\\":10000,\\\"commodity\\\":\\\"Apples\\\",\\\"targetBuyCost\\\":1000,\\\"confidenceLevel\\\":65,\\\"currency\\\":\\\"USD\\\",\\\"pricingTypeGroup\\\":\\\"SPOT\\\",\\\"loadingType\\\":\\\"LIVE_LIVE\\\",\\\"volume\\\":200.5,\\\"volumeFrequency\\\":\\\"MONTHLY\\\",\\\"contractLengthDays\\\":90}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
  /pricing/marketplace/my-broker-partners:
    servers:
    - url: https://testapi.greenscreens.ai/v1
      description: Testing server (dev environment)
    - url: https://betaapi.greenscreens.ai/v1
      description: Beta server (pre-production)
    - url: https://api.greenscreens.ai/v1
      description: Production server (uses live data)
    post:
      tags:
      - Pricing
      summary: Get sell rates of partner brokers
      description: 'Intended to be used by a shipper-broker marketplace (a.k.a Shipper TMS).


        Returns a list of brokers that confirmed that they want to work with

        the marketplace that is requesting the rates.


        Each broker in the list will contain a sell rate that they are

        willing to move the load for'
      operationId: pricingMarketplaceMyBrokerPartners
      security:
      - Pricing_bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing_PricingMarketplaceMyBrokerPartnersRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing_PricingMarketplaceMyBrokerPartnersResponse'
        '400':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/400'
        '401':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/401'
        '404':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/404'
        '422':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/422'
        '424':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/424'
        '429':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/429'
        '500':
          $ref: '#/paths/~1pricing~1tpl-pricing/post/responses/500'
      x-codeSamples:
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://testapi.greenscreens.ai/v1/pricing/marketplace/my-broker-partners',\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {\n    transportType: 'VAN',\n    stops: [\n      {\n        order: 0,\n        address: {country: 'US', city: 'Red Bluff', state: 'CA', zip: '96080'}\n      },\n      {order: 1, address: {country: 'US', city: 'Redding', state: 'CA', zip: '96002'}}\n    ],\n    region: 'ZIP',\n    customerName: 'Test Customer',\n    pickupDate: '2020-01-13T16:00:00Z',\n    deliveryDate: '2020-01-13T16:00:00Z',\n    weight: 10000,\n    commodity: 'Apples',\n    currency: 'USD',\n    pricingTypeGroup: 'SPOT'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://testapi.greenscreens.ai/v1/pricing/marketplace/my-broker-partners\"\n\npayload = {\n    \"transportType\": \"VAN\",\n    \"stops\": [\n        {\n            \"order\": 0,\n            \"address\": {\n                \"country\": \"US\",\n                \"city\": \"Red Bluff\",\n                \"state\": \"CA\",\n                \"zip\": \"96080\"\n            }\n        },\n        {\n            \"order\": 1,\n            \"address\": {\n                \"country\": \"US\",\n                \"city\": \"Redding\",\n                \"state\": \"CA\",\n                \"zip\": \"96002\"\n            }\n        }\n    ],\n    \"region\": \"ZIP\",\n    \"customerName\": \"Test Customer\",\n    \"pickupDate\": \"2020-01-13T16:00:00Z\",\n    \"deliveryDate\": \"2020-01-13T16:00:00Z\",\n    \"weight\": 10000,\n    \"commodity\": \"Apples\",\n    \"currency\": \"USD\",\n    \"pricingTypeGroup\": \"SPOT\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Php + Curl
[...]
